:root {
    --black: #0e1111;
    --dkgreen: #232b2b;
    --gray: #353839;
    --grblue: #3b444b;
    --grayge: #414a4c;
    --white: white;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--black);
}

header {
    justify-content: right;
    background-color: var(--black);
    padding: 0 35px;
}

header a {
    color: var(--white);
    text-decoration: none;
}

header nav {
     
    margin: 7px 0;
}

header nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 2.55vw;
}

.underline {
    position: relative;
    color: var(--white);
    text-decoration: none;
}

.underline:hover {
    color: var(--white);
}

.underline:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}   

.underline:hover::before {
        transform: scaleX(1);
  }
   

  /* main starts here */

main a {
    color: var(--white);
    text-decoration: none;
}

main p {
    color: var(--white);
}


.photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main img {
    float: center;
    width: 250px;
    height: 300px;
    border-radius: 32%;
}

main aside {
    flex-direction: column;
    float:right;
}

main .content-left {
    flex-direction: column;
}

/* work starts here */

.work {
    padding: 0 0 500px 36px;
}

.work a {
    position: relative; 
    color: var(--white);
}

/* contact starts here */

.contact {
    padding: 0 0 0 36px;
}

.contact a {
    color: var(--white);
    text-decoration: none;
}
.contact h3 {
    color: var(--white);
}


.links {
    opacity: 0;
}

.contact-links:hover .links {
    opacity: 1;
}
/* footer starts here */

footer {
    color: var(--white);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 980px) {
    /* header nav ul {
        justify-content: center;
        margin-top: 20px;
      } */

      main {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          
     }    
    
      aside {
        text-align: center;
      }

      footer {
          text-align: center;
      }
}

 /* MEDIA QUERY FOR TABLETS AND SMALLER */
 @media screen and (max-width: 768px) {

    header nav ul {
        justify-content: center;
        margin-top: 20px;
      }

      header nav ul li a {
        padding: 10px 15px;
        font-size: 17px;
    }
 }     