:root {
    --black: #0e1111;
    --dkgreen: #232b2b;
    --gray: #353839;
    --grblue: #3b444b;
    --grayge: #414a4c;
    --white: white;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--black);
}

header {
    background-color: var(--black);
    padding: 0 35px;
    background-position: 80%;
    z-index: 9999;
    position: sticky;
}

header a {
    color: var(--white);
    text-decoration: none;
}

header nav {
     
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 35px;
}

.underline {
    position: relative;
    color: var(--white);
    text-decoration: none;
}

.underline:hover {
    color: var(--white);
}

.underline:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}   

.underline:hover::before {
        transform: scaleX(1);
  }
   

  /* main starts here */


main a {
    color: var(--white);
    text-decoration: none;
}

main p {
    color: var(--white);
}

.greeting {
    padding: 425px 0 300px 36px;
  
}

.photo {
    display: flex;
    justify-content: center;
}

main img {
    position: absolute;
    left: 440px;
    top: 300px;
    width: 300px;
    height: 300px;
    border-radius: 32%;
}

main aside {
    position: absolute;
    top: 327px;
    right: 43px;
}

/* work starts here */

.work {
    padding: 0 0 500px 36px;
}

.work a {
    position: relative; 
    color: var(--white);
}

/* contact starts here */

.contact {
    padding: 0 0 0 36px;
}

.contact a {
    color: var(--white);
    text-decoration: none;
}

.contact h3 {
    color: var(--white);
}

.links {
    opacity: 0;
}

.contact-links:hover .links {
    opacity: 1;
}
/* footer starts here */

footer {
    color: var(--white);
    text-decoration: none;
    display: flex;
    justify-content: center;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }        
}